extends layout.pug

block content
  .header-row
    .header-column.logo-column
      a.home-logo(href='/')
        img(src='/logo-home.svg' alt='Logo' width='40' height='auto')
    .header-column.title-column
      .title-wrapper
        h1 #{pageTitle || 'Welcome'}
        h2 Discover Your Music
    .header-column.logout-column
      if user
        a.logout-button(href='/logout') Logout
  .launch-content
    .centered-content
      img.grammar-cover(src='/images/grammarCoverNoBG.png' alt='Grammar Cover Image' width='1200')
      a.spotify-button(href='/tracks') View Tracklists
  .footer
    a(href='/privacy') Privacy Policy
    a(href='/terms') Terms of Service
    button.theme-toggle(title='Toggle Theme') #{theme === 'light-mode' ? '☾' : '☀️'}